/* Dark theme for Discord made by TrapStoner#6391 v0.9 WIP*/


/* chat box scroller */
.scroller-wrap .scroller::-webkit-scrollbar-track-piece, .theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: #0a0909 !important;
	border-color: #0a0909 !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	background-color: #171719 !important;
	border-color: #171719 !important;
}

/* chat box dividers */
.theme-dark .divider-3gKybi:before, .theme-dark .divider-3gKybi span, .theme-dark .divider-3gKybi:not(.red-1YQ4s7) div {
	background-color: #0d0d0e;
}
.theme-dark .dividerEnabled-2TTlcf {
	border-bottom-color: hsl(0, 5%, 4%);
}

/*chat box @mentions*/
.theme-dark .isMentioned-N-h9aa {
    background: #0e0e0e;
}
.isMentionedCozy-3isp7y:after {
    background: #0d0d0e;
    border-left: 4px solid #191a1b;
}

/*chat wrapper*/
.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
	background-color: #0a0909
}
.theme-dark .inner-zqa7da {
	background-color: #0000ff;
}

/*embed*/
.theme-dark .embedPill-1Zntps {
	background-color: #191a1b !important;
}
.theme-dark .embedInner-1-fpTo {
	background-color: #0d0d0e;
	border-color: #0d0d0e;
}

/*attachment*/
.theme-dark .attachment-33OFj0 {
	background-color: #0d0d0e;
	border-color: #0d0d0e;
}
.anchor-3Z-8Bb {
	color: #dcddde;
}

/*search*/
.theme-dark .search .search-bar {
    background-color: #111113;
}

/*search-popout*/
.theme-dark .searchPopout-1vUlP3 {
	background-color: #0a0909;
	border: 1px solid rgba(10, 9, 9, 1);
}
.theme-dark .option-96V44q.selected-rZcOL- {
	background-color: #111113;
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
	background-color: #131415;
}
.theme-dark .dim-1l4L4y span {
	background-color: #111113;
}



/*background (in general ;p)*/
.appMount-3VJmYg, .scroller-2wx7Hm, .theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .theme-dark .guildsWrapper-5TJh6A, .channels-Ie2l6A, .theme-dark .title-3qD0b-, .container-2Rl01u, .header-2o-2hj, .theme-dark .container-2Thooq, .theme-light .container-2Thooq, .container-16j22k, .container-2lgZY8, .theme-dark .messagesWrapper-3lZDfY, .theme-dark .members-1998pB, .theme-dark #friends {
	background: #0a0909 !important;
}
.contentHoveredText-2D9B-x, .contentSelectedText-3wUhMi, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM, .contentSelectedVoice-1WDIBM:active, .contentConnectedVoice-qL-YrL:active, .private-channels .channel:hover a, .theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4, .theme-dark .member-3W1lQa:hover .content-OzHfo4 {
	background-color: #111113 !important;
}
.tooltip.tooltip-black {
    background-color: #0d0d0e;
}
.tooltip::after {
    visibility: hidden;
}
.container-1UB9sr {
	background: #0a0909;
	border-bottom: none !important;
}


/*settings*/
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover, .side-8zPYf6 .itemSelected-1qLhcL {
    background-color: #111113 !important;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: #020202;
}
.theme-dark .accountBtnInner-sj5jLs {
    background-color: #111113;
    border-color: #111113;
}
.themeDefault-24hCdX {
    background-color: #191a1b;
}
.theme-dark .passthroughSelected-1Eq0Kl {
    background: #191a1b;
}

/*game tab*/
.theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected, .theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
	background-color: #111113;
}
.theme-dark .card-FDVird:before {
    background-color: #111113;
    border-color: #131415;
}

/*pinned messages*/
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: #0a0909;
    border: 1px solid #0a0909;
	box-shadow: 0 2px 10px 0 hsl(0, 5%, 4%);
}
.theme-dark .header-ykumBX {
    background-color: #111113;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: #0d0d0e;
    border-color: #0e0e0e;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    border-color: #0e0e0e;
}
.theme-dark .footer-1kmXd4 {
    background-color: #0a0909;
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: #111113;
    box-shadow: 0 0 6px 4px #111113;
}
.theme-dark .jumpButton-3DTcS_ {
    background-color: #111113;
}

/*server settings popout*/
.theme-dark .menu-Sp6bN1 {
    background: #0d0d0e;
}
.theme-dark .separator-2zcjq8 {
    border-bottom-color: #131415;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #131415;
}

/*servers tab*/
.theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
    background: #0a0909 !important;
}
.theme-dark .homeIcon-1FoKUJ {
    color: #ffffff;
    background-color: #131415;
}

/*Activity*/
.theme-dark .activityFeed-28jde9, .theme-dark .headerBar-UHpsPw, .theme-dark .card-7JP0BX {
    background-color: #0a0909;
}
.paginationItem-3-MBTL:after {
    background: linear-gradient(270deg,transparent 0,#0d0d0e);
}
.article-3kb3qm, .theme-dark .header-1RC2Wb {
    background-color: #0d0d0e;
}
.theme-dark .body-SKIE6r {
    background-color: #111114;
}
.theme-dark .player-1kJMbj {
    border-bottom-color: #191a1b;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: #26282b;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: #191a1b
}
.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover, .theme-light .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: #0a0909;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: #171719 !important;
    border-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: #0a0909;
}
.theme-dark .dockItem-2kQDqg:hover {
    background-color: #111113;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: #191a1b;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #0a0909;
}
.theme-dark .header-1RC2Wb:hover {
    background-color: #0a0909;
}
.headerButtonColor-G7_f-V {
    background: #111114;
}

/*Library*/
.theme-dark .gameLibrary-TTDw4Y {
    background-color: #0a0909;
}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: #0d0d0e;
}

/*dms*/
.privateChannels-1nO12o .channel-2fhmY8:hover .selectedLink-3dsNZ6, .selectedLink-3dsNZ6 {
    background-color: #111113 !important;
}

/*invite box*/
.theme-dark .wrapper-35wsBm {
    background: #0d0d0e;
    border-color: #0d0d0e;
}

/*HypeSquad*/
.theme-dark .modal-3HD5ck {
    background-color: #0a0909;
    box-shadow: 0 0 0 1px #0a0909, 0 2px 10px 0 rgba(0,0,0,.2);
}
.theme-dark .footer-2yfCgX {
    -webkit-box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
    background-color: #0a0909;
	box-shadow: inset 0 1px 0 #0e0e0e;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    background-color: #0a0909;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #111113;
}
.theme-dark .cardPrimaryEditable-3KtE4g {
    background: #0e0e0e;
    border-color: #0e0e0e;
}
.theme-dark .cardPrimaryEditable-3KtE4g:selection {
	border-color: #0a0909;
    background-color: #0a0909;
}
.theme-dark .separator-PE-_y1 {
    background-color: #111113;
}
.theme-dark .checkbox-1ix_J3 {
    border-color: #26282b;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #0d0d0e;
}
.theme-dark .cardPrimary-1Hv-to {
    background: #0a0909;
    border-color: #0a0909;
}


/*Auth Screen*/
.authBox-hW6HRx {
    background: #111113;
    box-shadow: 0 2px 10px 0 #111113;
    color: #808080;
}
.canvas-3XuBXe {
    background-color: #0a0909;
}
.typeWindows-1za-n7 {
    background-color: #0a0909;
	padding: 4px;
}
.wrapper-6URcxg {
    background-color: #0a0909;
}
.platform-win .splashBackground-1FRCko:before {
    background: #0a0909;
}
.lookLink-9FtZy-.colorBrand-3pXr91 {
    color: #525252;
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,transparent,transparent 1px,#525252 0,#0a0909 2px,transparent 0);
}
.theme-dark .input-cIJ7To, .theme-dark .input-cIJ7To:hover, .theme-dark .input-cIJ7To:focus {
    border-color: #040405;
}

/*mention search*/
.autocompleteInner-zh20B_ {
    background-color: #111113;
}
.selector-2IcQBU {
    background-color: #111113;
}
.theme-dark .divider-23swzi {
    background-color: #111113;
}
.theme-dark .selectorSelected-1_M1WV {
    background-color: #171719;
}

/*old messages*/
.theme-dark .jumpToPresentBar-9P20AM, .theme-dark .jumpToPresentBar-9P20AM:hover {
    background-color: #111113;
}
.theme-dark .hasMore-3e72_v button {
    background: #111113;
    border: 1px solid #111113;
}
.hasMore-3e72_v button {
    color: #dcddde;
}

/*typing...*/
.theme-dark .typing-2GQL18 {
    background-color: #0a0909;
}

/*right click menu*/
.theme-dark .container-3cGP6G {
    background: #111113;
}
.theme-dark .item-2J1YMK:active, .theme-dark .item-2J1YMK:hover {
    background-color: #171719;
}
.theme-dark.contextMenu-HLZMGh {
    background: #0d0d0e;
}
.theme-dark .itemGroup-1tL0uz {
    border-color: #111113;
}
.theme-dark .item-1Yvehc:hover {
    background: #171719;
}
.theme-dark .bubble-3we2di, .theme-dark .bubble-3we2di:before {
    background-color: #171719;
}
.checkbox .checkbox-inner input[type=checkbox]:checked+span {
    background-color: #020202 !important;
    border-color: #020202 !important;
}
.theme-dark .checkbox .checkbox-inner span {
    border-color: #26282b;
}


/*emoji picker*/
.emojiPicker-3m1S-j {
    background-color: #111113;
    border: 1px solid #111113;
    box-shadow: 0 0 6px 0 #111113;
}
.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: 1px solid #111113;
}
.search-bar.search-bar-light {
    background-color: #111113;
}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: #111113;
}
.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: #111113;
}
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: #191a1b;
}
.diversitySelector-tmmMv0 .popout-2nUePc {
    background: #111113;
    border: 1px solid #111113;
    box-shadow: 0 2px 6px 0 #111113;
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: rgba(17, 17, 19, 0.6);
    pointer-events: auto;
}
.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: #171719;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #2f2f2f;
}
.premiumPromo-yVfLiA {
    background-color: #111113;
}

/*message delete*/
.theme-dark .message-2qRu38 {
    background-color: #0e0e0e;
    box-shadow: 0 0 0 1px #0e0e0e, 0 2px 10px 0 #0a0909;
}

/*member wrapper*/
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #191a1b;
}
.theme-dark .headerNormal-T_seeN {
    background-color: #0e0e0e;
}
.headerPlaying-j0WQBV {
    background: #040405;
}
.userPopout-3XzG_A {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px #0a0909;
}
.theme-dark .quickMessage-1yeL4E {
    background-color: #111113;
    border-color: #111113;
}
.theme-dark .note-3kmerW textarea:focus {
    background-color: #191a1b;
}

/*add roles menu (i think xd)*/
#autocomplete-popout {
    width: 300px;
    background-color: #131415;
}
.theme-dark #autocomplete-popout .autocomplete-arrow, .theme-dark #autocomplete-popout .autocomplete-header-background {
    background-color: #131415;
}
.scrollerWrap-2lJEkd {
    background-color: #0e0e0e;
}
.theme-dark #autocomplete-popout .autocomplete-arrow, .theme-dark #autocomplete-popout .autocomplete-shadow {
    box-shadow: none !important;
}
.theme-dark #autocomplete-popout .row.selected {
    background: #191a1b;
}
.scroller-2FKFPG .autocomplete-scroller::webkit-scrollbar-track, #autocomplete-popout .autocomplete-scroller::webkit-scrollbar-track {
	background:#ffffff !important;
}
