/* --- Dark theme for Discord made by TrapStoner#9526 ---

---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE DISCORD'S THEME TO DARK IN APPEARANCE SETTINGS FOR THIS THEME TO WORK!
---------------------------------------------------------------------------------------------------------------------------------------------


/* Theme Info */
.info-3pQQBb:after {
	content: "DarkAF v1.7.4 by TrapStoner#9526";
	font-size: 16px;
	color: var(--text-muted);
}

/* Some Vars */
.theme-dark {
	--background-ff: #ffffff;
	--background-e5: #e5e8f1;
	--background-ca: #cacaca;
	--background-52: #525252;
	--background-42: #424242;
	--background-3c: #3c3c3c;
	--background-2f: #2f2f2f;
	--background-2c: #2c2c2c;
	--background-26: #26282b;
	--background-19b: #191a1b;
	--background-19f: #191a1f;
	--background-18: #18191c;
	--background-17: #171719;
	--background-13: #131415;
	--background-11: #111113;
	--background-0f: #0f0f10;
	--background-0e: #0e0e0e;
	--background-0d: #0d0d0e;
	--background-0c: #0c0c0c;
	--background-0a: #0a0a0a;
	--background-08: #080808;
	--background-07: #070707;
	--background-00: #000000;
	--background-6b: #6bab9f;
	--background-primary: var(--background-08);
	--background-secondary: var(--background-08);
	--background-secondary-alt: var(--background-08);
	--background-tertiary: var(--background-08);
	--background-floating: var(--background-19f);
	--background-accent: var(--background-11);
	--background-modifier-hover: var(--background-13);
	--background-modifier-active: var(--background-19f);
	--background-modifier-selected: var(--background-19f);
	--background-modifier-accent: var(--background-11);
	--background-mobile-primary: var(--background-11);
	--scrollbar-auto-track: var(--background-08);
	--scrollbar-auto-thumb: var(--background-26);
	--scrollbar-thin-track: var(--background-08);
	--scrollbar-thin-thumb: var(--background-26);
	--channeltextarea-background: var(--background-17);
	--activity-card-background: var(--background-0f);
	--deprecated-panel-background: var(--background-08);
	--deprecated-store-bg: var(--background-08);
	--deprecated-text-input-bg: var(--background-0f);
	--deprecated-text-input-border: var(--background-0f);
	--deprecated-card-editable-bg: var(--background-19f);
	--border-primary: var(--background-08);
	--elevation-megahigh: 0 8px 14px rgba(0, 0, 0, 0.5);
	--interactive-hover: #e0e1e2;
	--interactive-active: var(--background-ff);
	--brand-experiment: var(--background-2f);
	--brand-experiment-400: var(--background-52);
	--brand-experiment-500: var(--background-52);
	--brand-experiment-530: var(--background-2f);
	--brand-experiment-560: var(--background-19f);
	--brand-experiment-600: var(--background-42);
	--brand-experiment-15a: var(--background-52);
	--brand-experiment-30a: var(--background-42);
	--brand-experiment-05a: var(--background-17);
	--brand-experiment-10a: var(--background-0f);
	--button-secondary-background-hover: var(--background-19f);
	--button-secondary-background-active: var(--background-42);
	--button-secondary-background-disabled: var(--background-2f);
	--button-secondary-background: var(--background-2f);
	--button-positive-background: var(--background-52);
	--button-positive-background-disabled: var(--background-2c);
	--button-positive-background-active: var(--background-52);
	--button-positive-background-hover: var(--background-0d);
	--button-outline-positive-border: var(--background-52);
	--button-outline-positive-border-active: var(--background-52);
	--button-outline-positive-background-active: var(--background-52);
	--button-outline-brand-border: var(--background-42);
	--button-outline-brand-border-hover: var(--background-42);
	--button-outline-brand-background-hover: var(--background-42);
	--modal-background: var(--background-19f);
	--modal-footer-background: var(--background-0f);
	--input-background: var(--background-08);
	--background-mentioned: var(--background-17);
	--background-mentioned-hover: var(--background-0f);
}

 /* Some Border Radiuses */
.selected-3veCBZ, .interactive-1vLZ_I:focus-within, .interactive-1vLZ_I:hover, .clickable-28SzVr:hover .layout-1qmrhw, .listRow-2nO1T6:hover, .emptyGuildUpsell-2s9mrR, .interactiveRow-ALfmDn:hover, .contentWrapper-3oy4Xo .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover, .peopleListItem-u6dGxF, .peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover, .categoryHeader-OpJ1Ly {
	border-radius: 25px;
}
.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ, .wrapper-NhbLHG:hover .content-1gYQeQ, .listDefault-2F-w65 .clickable-1ctZ-H:hover .content-1Tgc42, .selected-1-Z6gm .layout-1qmrhw, .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP), .premiumTab-39eQzY .selectedBackground-1t6xXq, .listDefault-2F-w65 .clickable-1ctZ-H.selected-1oxcpH .content-1Tgc42, .wrapper-1NNaWG, .activityItem-1Z9CTr, .selected-2aBVty, .clickable-2V8YKY[aria-disabled=false]>.base-2v-uc0:hover, .clickable-2V8YKY[aria-selected=true]>.base-2v-uc0, .bd-toast, .contentWrapper-3oy4Xo .lookFilled-yCfaCM.colorBrand-I6CyqQ, .bd-addon-list .bd-description::-webkit-scrollbar-track, .bd-addon-list .bd-description::-webkit-scrollbar-thumb {
    border-radius: 15px;
}

/* Home Button */
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > nav > ul > div.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt > div.tutorialContainer-1pL9QS > div > div.listItemWrapper-3d87LP > div > svg > foreignObject > div > div:hover {
    background-color: var(--background-26);
}

/* Friends (or People?) */
.theme-dark .container-2cd8Mz {
	background: none;
}
.peopleListItem-u6dGxF {
	background-color: var(--background-0e);
	border-top: none;
	margin: 0 30px 13px 0;
}
.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
	background-color: var(--background-19f);
	margin: 0 0 13px 20px;
}
.listItemContents-2n2Uy9 .actionButton-3-B2x- {
	background-color: transparent;
}
.scroller-hE2gWq {
    border-left: none;
}
.searchBar-2aylmZ {
    background-color: var(--background-19f);
	border-radius: 12px;
}
.nowPlayingColumn-1eCBCN .wrapper-2RrXDg {
	background-color: var(--background-19f);
    border: none;
}
.nowPlayingColumn-1eCBCN .wrapper-2RrXDg .section-3G9aLW{
	background-color: var(--background-0a);
}

/* Library */
.rowWrapperDim-huz1mA .nameBodyCell-2RYQL9, .rowWrapperDim-huz1mA .settingIcon-1PlYq2, .rowWrapperDim-huz1mA .textCell-sKsLUQ {
    opacity: 0.5;
}
.theme-dark .installationPath-2PbaRC {
    box-shadow: none;
}

 /* Jump To Present Bar */
.jumpToPresentBar-1cEnH0 {
	background-color: var(--background-2f);
}
 
 /* Speaking Circles */
.avatarSpeaking-2pCGrZ, .avatarSpeaking-33RRJU {
    box-shadow: inset 0 0 0 2px var(--background-52), inset 0 0 0 1px var(--background-2f);
}

/* Screen Share */
.tile-3POX2m:hover .sourceThumbnail-ERDcZE {
    box-shadow: inset 0 0 0 2px #a9a9a9;
}

/* Reactions */
.reaction-3vwAF2 {
	background: var(--background-26);
}

/* Sliders */
.container-2nx-BQ, .bd-switch .bd-switch-body {
	background-color: var(--background-2f) !important;
}
.container-2nx-BQ.checked-25WXMf, .bd-switch.bd-switch-checked .bd-switch-body {
	background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%) !important;
}
.bd-addon-modal-settings .control-1fl03- div:not(.container-2nx-BQ[style*="background-color: hsl(218, calc(var(--saturation-factor, 1) * 4.6%), 46.9%)"]) {
	background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%) !important;
}

/* @mentions, Embed, Attachments & Invites */
.mentioned-Tre-dv:before {
	background-color: var(--background-2f);
}
.embedFull-1HGV2S {
    border-left: 4px solid var(--background-2f) !important;
    background: var(--background-0f);
}
.theme-dark .attachment-33OFj0 {
	background-color: var(--background-0c);
	border-color: var(--background-0c);
}
.wrapper-1HIH0j {
    background-color: var(--background-17);
}

/* Message Delete */
.theme-dark .message-G6O-Wv {
    background-color: var(--background-26);
    box-shadow: 0 0 0 1px var(--background-26), 0 2px 10px 0 var(--background-07);
}

/* Disabled Text Area Placeholder */
.textAreaDisabled-10ObTX .placeholder-1rCBhr {
	color: var(--background-ff);
}
/* Gap Between Text Area and Chat Content */
.channelTextArea-1FufC0 {
    margin-top: 13px;
}

/* Listen Along Invite */
.theme-dark .invite-3uuHYQ {
    border: none;
	background-color: var(--background-19f);
}

/* Settings */
.theme-dark .bar-1Bhnl9, .theme-dark .markDash-yk2kJ- {
    background: var(--background-0e);
}
.theme-dark .game-2f2vPC {
    box-shadow: 0 1px 0 0 var(--background-2c);
}
.theme-dark .gameNameInput-2wbDJ9:focus, .theme-dark .gameNameInput-2wbDJ9:hover {
    border-color: var(--background-2c);
    background-color: var(--background-2f);
}
.theme-dark .selectYourAnswer-MqT8vm {
    color: var(--background-e5);
}
.bioTextArea-dDGOeC {
	background-color: var(--background-19f);
}
/* Mic Test */
.theme-dark .progress-1S-TDF {
    background-color: var(--background-26);
}
.theme-dark .notches-2w7UZJ.gray-3wP137 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg height='20' width='8' xmlns='http://www.w3.org/2000/svg' fill='var(--background-26)'%3E%3Cpath d='M0 0h8v20H0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z' fill-rule='evenodd'/%3E%3C/svg%3E");
}
/* Custom Color Picker */
#popout_371 > div > div {
    background: var(--background-26);
    border-color: var(--background-11);
}
/* TTS Speed Button */
.ttsPreviewWrapper-1d5bI6 button:only-of-type {
	background-color: var(--background-42);
}
.ttsPreviewWrapper-1d5bI6 button:only-of-type:hover {
	background-color: var(--background-26);
}
/* BD Settings */
.bd-addon-list .bd-addon-header {
	background: var(--background-0e);
}
.bd-addon-list .bd-addon-card {
    background: var(--background-19f);
}
.bd-addon-modal-footer .bd-button {
    background-color: var(--brand-experiment);
}
.bd-addon-modal-footer .bd-button:hover {
	background-color: var(--brand-experiment-560);
}
.bd-search-wrapper {
	background-color: var(--background-26);
}
.bd-addon-list .bd-description::-webkit-scrollbar {
	width: 11px;
}
.bd-addon-list .bd-description::-webkit-scrollbar-track {
	background-color:var(--background-2f);
}
.bd-addon-list .bd-description::-webkit-scrollbar-thumb {
	background-clip:padding-box;
	border:2px solid transparent;
	background-color:var(--background-0c);
	min-height:40px
}

/* Auth Screen */
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > path:nth-child(2) {
	fill: var(--background-08);
}
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > path:nth-child(4), #app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > path:nth-child(5), #app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > path:nth-child(6), #app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > path:nth-child(16), #app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > path:nth-child(21), #app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > g:nth-child(3) > path:nth-child(1), #app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > g:nth-child(3) > path:nth-child(2), #app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > svg > g:nth-child(3) > path:nth-child(3) {
	fill: var(--background-ca);
}
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div > div > div > form {
	background: var(--background-19f);
}
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div > div > div > form > div > div > div.transitionGroup-bPT0qU.qrLogin-1ejtpI > div > div > div > button {
	color: var(--status-danger);
}

/* Pinned Messages */
.messagesPopoutWrap-3zryHW {
    background-color: var(--background-2f);
}
.header-1w9Q93 {
    background-color: var(--background-0f);
}

/* Server Settings */
.input-2g-os5, .searchContainer-u-1vUp .container-2oNtJn, .container-3EtAkD, .container-3EtAkD:hover, .lookFilled-1GseHa.select-1Ia3hD, .popout-1KHNAq, .card-2EUiNF, .search-2KMv1o .input-2m5SfJ, .input-2m5SfJ {
	background-color: var(--background-26);
}
.passthrough--fbdFR.selected-3jieYB, .avatarUploaderInnerSquareDisabled-3M9eJS, .lookFilled-yCfaCM.colorBrandNew-2-gGsS {
    background-color: var(--background-2f);
}
.lookFilled-yCfaCM.colorBrandNew-2-gGsS:hover {
    background-color: var(--background-0f);
}
.emojiAliasPlaceholder-3oShSx:after, .emojiAliasPlaceholder-3oShSx:before {
	opacity: 0.7;
}
/* Boosting Level Tree */
.theme-dark .tierBody-1d3UiS, .tier-3CS7-p {
    background-color: var(--background-2f);
}
.theme-dark .tierHeaderLocked-30MLlO, .theme-dark .tierHeaderUnlocked-1OpOLf {
    background-color: var(--background-0f);
}
/* Audit log */
.container-2O1UgZ {
    background-color: var(--background-2f);
    border: 1px solid var(--background-2c);
}
.container-2O1UgZ .item-1BCeuB.selectedBrand-1AtwYE {
	background: var(--background-0a);
}
.theme-dark .auditLog-1NVAY0 {
	border-color: var(--background-0f);
}
.theme-dark .changeDetails-1kMZqI {
    background-color: var(--background-26);
}
.theme-dark .auditLog-1NVAY0 .discrim-OWXlDD {
    color: var(--background-6b);
    opacity: 1;
}
/* User Management Lists */
.theme-dark .card-2ART2V:before {
    background-color: var(--background-26);
    border-color: var(--background-26);
}

/* Folder Settings */
.colorPickerSwatch-RTUGRR.default-3ISV7m {
	background-color: #ffffff26 !important;
}

/* Server Folders */
.expandedFolderIconWrapper-3RwQpD {
    background-color: var(--background-2f);
}
.theme-dark .expandedFolderBackground-1kSAf6 {
	background-color: var(--background-26);
}
.theme-dark .expandedFolderBackground-1kSAf6.hover-3m7-WT {
	background-color: var(--background-0f);
}
.expandedFolderIconWrapper-3RwQpD [style*="color: rgb(88, 101, 242)"] {
	color: #ffffff26 !important;
}
#app-mount > div.appDevToolsWrapper-1QxdQf > div > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div.container-1eFtFS > nav > ul > div.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt > div:nth-child(3) > * > div > div:nth-child(2) > div > svg > foreignObject > div > div[style*="background-color: rgba(88, 101, 242, 0.4)"] {
	background-color: #ffffff26 !important;
}

/* Add A Server & Explore Buttons */
.theme-dark .circleIconButton-1VxDrg {
    background: var(--background-17);
    color: var(--background-42);
}
.circleIconButton-1VxDrg.selected-2r1Hvo {
    background-color: var(--background-2f);
	color: var(--background-ca);
}

/* Verify Phone */
.theme-dark .popoutList-10IFAa {
    background: var(--background-0f);
}
.theme-dark .input-3NIgDw {
    background-color: var(--background-3c);
}

/* Voice Connected Pop-up */
.graphContainer-3Txdak {
    background: var(--background-2f);
}

/* Profile Wrapper */
.userPopout-2j1gM4 .textarea-_59yqs {
	background-color: transparent;
}
.userPopout-2j1gM4 .textarea-_59yqs:focus {
    background-color: var(--background-08);
}

/* Game Streaming Preview */
.theme-dark .streamPreview-I7itZ6 {
    background-color: var(--background-0f);
}
.theme-dark .previewContainer-35LFgt {
    background-color: var(--background-07);
}
/* Live Quality Indicator */
.liveQualityIndicator-2GyS_e {
	background-color: var(--background-3c) !important;
}

/* Invite to Stream Pop-up */
.theme-dark .footer-1hTRRZ {
	background-color: var(--background-0d);
}
.modal-atz_3z .searchBar-20o6Cf.container-2oNtJn {
    background-color: var(--background-26);
}

/* Hide Gift Nitro */
button[aria-label="Send a gift"] {
    display: none;
}

/* Update Notice */
.colorInfo-1kEg3T {
    background-color: var(--background-2f);
}

/* Auto Complete & Commands  Pop-up */
.theme-dark .autocomplete-3NRXG8 {
    background-color: var(--background-17);
}
.wrapper-22rqw6 {
    background-color: var(--background-11);
}
.categoryHeader-OpJ1Ly {
    background-color: var(--background-0a);
}
.wrapper-1NNaWG:after {
	background: none;
}
.clickable-2V8YKY[aria-disabled=false]>.base-2v-uc0:hover, .clickable-2V8YKY[aria-selected=true]>.base-2v-uc0 {
    background-color: var(--background-2f);
}

/* GIF picker & Emoji Picker */
.contentWrapper-3vHNP2 {
    background-color: var(--background-19f);
}
.contentWrapper-3vHNP2 .wrapper-22rqw6 {
    background-color: var(--background-0f);
}
.emptyGuildUpsell-2s9mrR {
	margin: 4px;
}

/** Start An Activity Pop-up **/
.scrollTierBackground-BnWR8k {
    background-color: var(--background-19f);
}
.activityItem-1Z9CTr:hover {
    background: var(--background-3c);
}

/* Quick Switcher Menu */
.quickswitcher-pKcM9U .input-3r5zZY {
	background-color: var(--background-26);
}

/* Join & Follow Action Message */
.wrapper-2SplAX {
    background-color: var(--background-17);
}

/* Server Home */
.theme-dark .background-fkKrXt.title-31SJ6t {
    background-color: var(--background-0d) !important;
}
.theme-dark .background-fkKrXt {
    background-color: var(--background-19f);
}
.theme-dark .previewContainer-3BJM_S {
    background-color: var(--background-11);
}
.theme-dark .headerBarInner-2pcZSM:after {
    background: linear-gradient(180deg,rgba(50,52,58,0) 0,var(--background-0d));
}

/* Server Banner Over Scrollbar fix */
.container-1-ERn5.hasBanner-2IrYih {
    z-index:2;
}

/* Public Server Explorer */
.theme-dark .pageWrapper-2PwDoS {
    background-color: var(--background-08);
}
.guildList-3GXKvP .card-2TuZPZ, .guildList-3GXKvP .iconMask-2fMR98, .search-25t1e9 .searchBox-31Zv9h, .searchBox-pyIJJj .searchBoxInput-P0mWHW, .theme-dark .searchBox-pyIJJj {
    background-color: var(--background-26);
}
.guildList-3GXKvP .card-2TuZPZ:hover, .guildList-3GXKvP .card-2TuZPZ:hover .iconMask-2fMR98, .guildList-3GXKvP .iconMask-2fMR98:hover, .guildList-3GXKvP .iconMask-2fMR98:hover .iconMask-2fMR98 {
    background-color: var(--background-52);
}
.search-25t1e9 .searchBox-31Zv9h .searchBoxInput-3h4etz, .search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0, .search-25t1e9 .clearIcon-TMIIUa {
    color: var(--background-ca);
}
.search-25t1e9 .searchBox-31Zv9h .closeIcon-BMGxx0:hover, .search-25t1e9 .clearIcon-TMIIUa:hover {
    color: var(--background-52);
}
.searchBox-pyIJJj:focus, .searchBox-pyIJJj:focus-within {
    box-shadow: 0 0 0 3px var(--background-08), 0 0 0 4px var(--background-08), 0 0 0 5px var(--background-ca);
}

/* Server Boost */
.theme-dark .perksModal-CLcR1c {
    background-color: var(--background-08);
}
.theme-dark .perk-19D_HN {
    background-color: var(--background-26);
}

/* Payment Pop-up */
.theme-dark .iconWrapper-2_MXbk {
    background: var(--background-42);
}

/* TOS Pop-up */
.theme-dark .modal-2LBig1 {
  background-color: var(--background-19f);
}
.theme-dark .buttonContainer-28osRq {
  background-color: var(--background-08);
}

/* In-call Region Selector */
.theme-dark .quickSelectPopout-2F0PXw {
    background: var(--background-26);
	border-radius: 7px;
}
.theme-dark .quickSelectPopoutOption-2E2UmS:hover {
    background-color: var(--background-0d) !important;
	border-radius:4px;
}
.regionSelectPopout-3sEzVB .quickSelectPopoutOption-2E2UmS:focus {
    background-color: var(--background-26);
}

/* How'd the call go? */
.problemInfo-1QppuA .option-1O-Hwt:hover {
  background: var(--background-2f);
}

 /* Welcome Modal*/
.focusLock-2tveLW .main-jX9p1r {
	background: var(--modal-background);
}

/* Top Notice Buttons fix */
.notice-12Koq- .button-3_1yil:hover, .notice-1x8lm- .button-1mXrIh:hover {
	background-color: var(--background-ca);
	border-color: var(--background-19f);
	color: var(--background-00);
}
 
/* Verify Age Pop-up */
.css-gvi9bl-control {
    background-color: var(--background-0c);
    border-color: var(--background-0f);
}
.css-dwar6a-menu {
    background-color: var(--background-0f);
}
.css-1ba14n5-option, .css-rzbxvl-option {
    background-color: var(--background-26);
	border-radius:5px;
}

/* Account Switcher */
.theme-dark .authBox-1HR6Ha {
    background: var(--modal-background);
}
.theme-dark .navRow-dG-XX8 {
    background-color: var(--background-0d);
}
.theme-dark.authBox-1HR6Ha .inputWrapper-1YNMmM input:only-of-type::placeholder {
	color: var(--background-e5);
}
.activeIcon-1ykRnF path[fill*="hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%)"] {
	fill: var(--background-52);
}
.menu-1QACrS::-webkit-scrollbar-track {
	background-color: var(--background-ff) !important;
}

/* Joining/Creating Server Menu (because discord is stupid) */
.theme-light {
	--background-primary: var(--background-08);
	--background-secondary: var(--background-08);
	--background-modifier-accent: var(--background-0f);
	--background-modifier-hover: var(--background-2c);
	--modal-background: var(--background-19f);
	--modal-footer-background: var(--background-0a);
	--header-primary: var(--background-ff);
	--header-secondary: var(--background-ca);
	--text-normal: var(--background-ca);
	--button-secondary-background: var(--background-2f);
	--button-secondary-background-hover: var(--background-42);
}
.theme-light .footerSeparator-VzAYwb {
	box-shadow: none
}
.theme-light .root-g14mjS {
	box-shadow: 0 0 0 1px var(--background-0d),0 2px 10px 0 var(--background-0f);
}
.theme-light .container-x8Y1ix:hover .defaultColor-24IHKz {
    color: var(--background-ff);
}
.theme-light .uploadIcon-2wV7s_ svg:only-of-type path{
	fill: var(--background-ca);
}
.theme-light .uploadIcon-2wV7s_ svg:only-of-type circle{
	fill: var(--background-52);
}
.theme-light .createGuild-2m1V10 .input-2g-os5 {
	background-color: var(--background-3c)
}

/* Modal, Server Home and Submenu Scrollbar */
.modal-1ocm0B .thin-31rlnD::-webkit-scrollbar-track, .menu-1QACrS .thin-31rlnD::-webkit-scrollbar-track, .homeContainer-r4Hvv1.auto-2K3UW5::-webkit-scrollbar-track, .userPopout-2j1gM4 .thin-31rlnD::-webkit-scrollbar-track {
    background-color: var(--background-19f);
    border: 2px solid var(--background-19f);
}
.modal-1ocm0B .thin-31rlnD::-webkit-scrollbar-track, .menu-1QACrS .thin-31rlnD::-webkit-scrollbar-thumb, .homeContainer-r4Hvv1.auto-2K3UW5::-webkit-scrollbar-thumb, .userPopout-2j1gM4 .thin-31rlnD::-webkit-scrollbar-thumb {
    background-color: var(--background-08);
}

/* Message Right-click Menu */
.button-1zW0-r:hover, .keyboard-mode .button-1zW0-r.focused-H4w81f {
    background-color: var(--background-52);
}
.colorDefault-CDqZdO .check-3HZJs4:not(.colorDanger-3n-KnP), .colorDefault-CDqZdO.focused-3qFvc8:not(.colorDanger-3n-KnP), .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_):not(.colorDanger-3n-KnP) {
    background-color: var(--background-42);
}
.colorDefault-CDqZdO .check-3HZJs4, .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
	border-radius:5px;
}

/* Toasts */
.toast-q3Y4wI {
    background-color: var(--background-3c);
}
.bd-toast {
    background-color: var(--background-2f);
}

/* Invite Pop-up */
.theme-dark .contentWrapper-3oy4Xo {
    background: var(--background-19f);
}
.contentWrapper-3oy4Xo .lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background-color: var(--background-42);
}
.contentWrapper-3oy4Xo .lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
    background-color: var(--background-0a);
}

/* VC Count Badge */
.users-2JoyGL {
    background-color: var(--background-3c);
}
.total-1c5KCN {
    background-color: var(--background-26);
}
.total-1c5KCN:after {
    border-right-color: var(--background-26);
}

/* Unreads Bar */
.unread-2wipsx {
    background-color: var(--background-3c);
}

/* Round Spotify Status Image */
.assetsLargeImageSpotify-17ME3M {
	border-radius:8px;
}

/* In VC Guild Badge */
.iconBadge-32fMme.participating-2Z81oO {
    background-color: var(--background-52);
}

/* Screen/Video buttons */
.button-1EGGcP.buttonColor-3bP3fX, .button-1EGGcP .buttonColor-3bP3fX {
    background-color: var(--background-2f);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    background-color: var(--background-3c);
}
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background-color: var(--background-08);
}

/** BD Plugins **/
/* BetterFormattingRedux */
.bf-toolbar::before {
    background: var(--background-17) !important;
}

/*** QOL From Other People ***/
/** Hide New Message Stuff When Unfocused by Overimagine#0001 **/
/* Red New Message Bar */
html:not(.app-focused) .isUnread-3Lojb- {
    border-color: transparent
}
.isUnread-3Lojb- {
    transition: .15s
}
/* New Message Bar */
html:not(.app-focused) .newMessagesBar-1hF-9G {
    opacity: 0
}
.newMessagesBar-1hF-9G {
    transition: .15s
}
/* remove sticky nitro button from guild list - fuck you discord by Qb#5942 */
.fixedBottomList-1yrBla > .listItem-3SmSlK {
    display: none;
}
/* Connection Issue Let Me Be by Disease#3749 and Me */
.container-2RRFHK {
    background: transparent;
    pointer-events: none;
}
.container-2RRFHK .anchor-1MIwyf { pointer-events: auto; }
.container-2RRFHK .content-3AIQZv .text-2bYgPB {
    display:none;
}
.container-2RRFHK .ready-3BZNWT {
    position: absolute;
    bottom: 44px;
    right: 244px;
    z-index: 1;
}
.container-2RRFHK img, .container-2RRFHK video {
    width: 32px;
    height: 32px;
}
.container-2RRFHK .problems-CvGwpb {
    padding: 8px 16px;
    bottom: 75px;
    left: unset;
    right: 18px;
    width:fit-content;
    height:fit-content;
    background-color: var(--background-3c);
    border-radius: 10px;
    -webkit-box-shadow: var(--elevation-stroke), var(--elevation-medium);
    box-shadow: var(--elevation-stroke), var(--elevation-medium);
}
.container-2RRFHK .problems-CvGwpb.slideIn-VAD-dp {
	bottom: 18px;
}
/* Hide Plugin Libs by Nyx#8614 */
div#BDFDB-card, div#ZeresPluginLibrary-card {display: none;}
/* Home Button Spins On Click by The Commie Axolotl#0001 */
@keyframes spin {
    0% {
    transform: rotate(0deg);
    }
    20% {
    transform: rotate(-20deg);
    }
    70% {
    transform: rotate(380deg);
    }
    100% {
    transform: rotate(360deg);
    }
}
.pill-L_aLMQ.bd-selected + .listItemWrapper-3d87LP .homeIcon-r0w4ny {
    animation: spin 0.8s ease;
}
/* Remove Wumpus Holding Country-specific Flag by SmolAlli#2706 */
[alt="Wumpus holding a country-specific flag"] {
    display: none;
}
/* Pop-out Animations by Lonk#6942 */ 
.menu-1QACrS, .emojiPicker-6YCk8a, .browser-mnQ1T7, .messagesPopoutWrap-3zryHW, .wrapper-1NB3WY, .container-3u7RcY, .container-2o3qEW, .container-2ebMPP, .userPopout-2j1gM4 {
    animation: custom-menu-animation 250ms ease;
    transform-origin: top;
}
@keyframes custom-menu-animation {
    0% {
    transform: scaleY(0);
    }
    100% {
    transform: scaleY(1);
    }
}
/* Hide User Buttons Until Hover by The Commie Axolotl#0001 */
.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}
.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}